

	#contactus 
	{
		display: inline;
		text-align: center;
	  }
	#contactus img 
	{
		border: 0;
		display: inline;
		height: auto;
		width: 10%;
	}
	
	
	/*question, event, feedback*/
	.help1
	{
		padding: 16px;
		margin: 0 auto;
	}
	
	
	/*Text inside image*/
	.caption 
	{
		left: 0;
		position: absolute;
		text-align: center;
		top: 25%;
		bottom:25%;
		width: 100%;
	}



	
	form
	{
		border-radius: 0;
	}
	
	div
	{
		display: block;
	}
	

	body
	{
		line-height: 1.5;
		box-sizing: inherit;
	}

	h2
	{
		display: block;
		margin-left: 0.67em;
		margin-right: 0.67em;
		font-weight: 400;
		margin: 10px 0;
		font-size: 36px;
		text-align: center;
	}
	
	#contact-header{
		background-color: black;
		color: white!important;
	}
	#contactus .card{
		background-color: black;
		color: white!important;
	}
	#contactus #email-div img,#contactus #facebook-div img{
		animation: myrotate 5s infinite;
	}
	#contactus #insta-div img,#contactus #whatsapp-div img{
		position: relative;
		animation: myscale 5s infinite;
	}
	@keyframes myrotate {
		25% {transform: rotate(360deg);}
		50% {transform: rotate(360deg);}
	  }
	  @keyframes myscale {
		50% {transform: scale(1.5);}
	  }

	#contactus h1
	{
		text-align: center;
		font-size: 30px;
	}
	#contactus h3
	{
		text-align: center;
		font-size: 20px;
	}

	