	html 
	{
	  scroll-behavior: smooth;
	}
	
	
	
	/*question, event, feedback*/
	.help1
	{
		padding: 16px;
		margin: 0 auto;
	}
	
	
	/*Text inside image*/
	.caption 
	{
		left: 0;
		position: absolute;
		text-align: center;
		top: 25%;
		bottom:25%;
		width: 100%;
	}



	
	form
	{
		border-radius: 0;
	}
	
	div
	{
		display: block;
	}
	

	body
	{
		line-height: 1.5;
		box-sizing: inherit;
	}

	h2
	{
		display: block;
		margin-left: 0.67em;
		margin-right: 0.67em;
		font-weight: 400;
		margin: 10px 0;
		font-size: 36px;
		text-align: center;
	}
	
	h1,h3
	{
		text-align: center;
	}

	