 * {
  box-sizing: border-box;
}
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
body {
  font-family: Georgia;
  padding: 10px;
  background: white;
  color: black;
}
div h2{
  font-size: 25px;
  text-align: center;
  color: green;
}
div h5{
  font-size: 15px;
  text-align: center;
}
figure img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a.button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

a.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a.button:hover span {
  padding-right: 25px;
}

a.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #FEDE00;
  color: black;
  font-size: 20px;
}

.header h1 {
  font-size: 50px;
}


/* Add a card effect for articles */
.card {
  background-color: #FEDE00;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px #999
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#share-buttons {
  padding-left: auto;
  display: inline;
}
#share-buttons img {
width: 40px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#event1, #event2, #event3 {
  border-radius: 4px;
  background-color: #FEDE00;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*menu bar*/
  .navmenu
  {
    overflow: hidden;
    background-color: #FEDE00;
  }

  .navmenu a
  {
    float: left;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }

  .dropdown
  {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbutton
  {
    font-size: 18px; 
    border:none;
    outline: none;
    color: black;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
  }

  .navmenu a:hover, .dropdown:hover .dropbutton
  {
    background-color: white;
    color: black;
  }

  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.2);
    z-index: 1;
    float: left;
  }

  .dropdown-content a 
  {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    float:none;
  }

  /*when the mouse go over the tab*/
  .dropdown-content a:hover 
  {
    background-color: #8bf26f;
  }

  .dropdown:hover .dropdown-content 
  {
    display: block;
  }

  .map{
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  #logo{
    width: 30%;
    margin: 0 35%;
    padding-top: 0;
  }
  
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.dropdownsticky{
  position: fixed;
  top: 50px;
}

.sticky + .body{
  padding-top: 60px;
}

.navmenu .icon{
  display: none;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  color: #555; /* Add a dark-grey background on hover */
}

footer {
    background-color: #39B;
    color: #fff;
    text-align: center;
    padding: 16px;
    display: block;
}

#topBtn i{
  font-size: 30px;
}