	html 
	{
	  scroll-behavior: smooth;
	}
	
	/*image*/
	img
	{
		opacity:0.6;
		height: auto;
		width: 50%;
	}
	
	
	/*question, event, feedback*/
	.help1
	{
		padding: 16px;
		margin: 0 auto;
	}
	
	
	/*Text inside image*/
	.caption 
	{
		left: 0;
		position: absolute;
		text-align: center;
		top: 25%;
		bottom:25%;
		width: 100%;
	}
	
	/*DO YOU NEED HELP?*/
	.caption span.border 
	{
		color: #006400;
		position:absolute;
		padding: 10px;
		font-family: inherit;
		font-size: 30px;
		letter-spacing: 10px;
		transform: translate(-50%, -50%);
	}

	.help1 h3
	{
		color: #006400;
	}

	
	form
	{
		border-radius: 0;
	}
	
	div
	{
		display: block;
	}
	

	body
	{
		line-height: 1.5;
		box-sizing: inherit;
	}

	h2
	{
		display: block;
		margin-left: 0.67em;
		margin-right: 0.67em;
		font-weight: 400;
		margin: 10px 0;
		font-size: 36px;
		text-align: center;
	}
	
	h1,h3
	{
		text-align: center;
	}

	h4
	{
		font-size: 24px;
		color: #7a4f30;
		font-weight: 400;
		margin: 16px;
		display: block;
		margin-right: 0.67em;
		margin-left: 0.67em;
		text-align: center;
	}
	